<!DOCTYPE html>
<html>
<head>
	<title><sp:property value="special.title"/></title>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=GBK" />
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
	<div class="top">
		<img src="./image/head.jpg" id="head">
		<div class="limit">
			<div class="circle title">
				<img src="./image/title.png" width="250" style="opacity: 0.7;">
				Resume assistant
			</div>
		</div>
		

	</div>
	<div class="mainbody">
		<div class="nav">
			<ul>
				<li><a href=""><img src="./image/ks.png"><br>范例应用</a></li>
				<li><a href=""><img src="./image/bm.png"><br>内容技巧</a></li>
				<li><a href=""><img src="./image/nr.png"><br>简历新闻</a></li>
			</ul>
		</div>
		<div class="theme">
			<img src="./image/pic1.jpg" style="float: left;">
			<p class="rightp">
				<a href="#"><span>&nbsp;&nbsp;HR教你极品简历这样写</span><br>
				“铁打的校园流水的学生”，又到一年一度的招聘高峰期，新一届的毕业生们开始踏上漫漫求职路……</a>
				<br>
				<a href="#"><span>&nbsp;&nbsp;简历写作6大原则</span><br>
				人事部门是一道滤网、一名守门员，它的职责之一就是不让不需要的、期待之外或不请自来的简历出现……</a>
				<br>
				<a href="#"><span>&nbsp;&nbsp;简历上的经典“盲区”，都在这儿了</span><br>
				简历上的“求职状况”该怎么填？Tips：求职状况是为了……</a>
				<br>
			</p>
			<div class="rdmore"><a href="">Read More>>></a></div>
		</div>
		<div class="theme">
			<img src="./image/pic2.jpg" style="float: right;">
			<p class="leftp">
				<a href="#"><span>&nbsp;&nbsp;简历一无可写怎么办？</span><br>
				首先必须明确你为什么要写简历。任何一家公司都不会仅仅靠一份简历来录取一个员工，那么，你写简历的唯一目的……</a>
				<br>
				<a href="#"><span>&nbsp;&nbsp;走出简历十大误区</span><br>
				打字或者语法错误：你简历的文字需要完全合乎文法，避免出现任何可能引起歧义的地方。如果……</a>
				<br>
				<a href="#"><span>&nbsp;&nbsp;优秀简历要遵循哪些规则？</span><br>
				优秀简历的第一条潜规则，是不要作假。但是不能凭空捏造。因为……</a>
				<br>
			</p>
			<div class="rdmore"><a href="">Read More>>></a></div>
		</div>
		<div class="theme">
			<img src="./image/pic3.jpg" style="float: left;">
			<p class="rightp">
				<a href="#"><span>&nbsp;&nbsp;应聘互联网公司的简历应该是怎么样的？</span><br>
				高票答案的一些观点或许看上去很美很优雅，但并不是HR筛简历的真实情况……</a>
				<br>
				<a href="#"><span>&nbsp;&nbsp;这样写简历不会被录用</span><br>
				朋友的儿子Jason名牌大学毕业，据说求职网上网下投放了数百次，回音渺渺，倍受打击……</a>
				<br>
				<a href="#"><span>&nbsp;&nbsp;10秒从简历中能看出来什么？</span><br>
				最近发生一件事，让我不得不鄙视一下自己以貌取人了。有个小伙子数次投简历到某个岗位，简历引起了我的注意，但……</a>
				<br>
			</p>
			<div class="rdmore"><a href="">Read More>>></a></div>
		</div>
	</div>
	

</body>
</html>